:root {
  --basket-distance: 20vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  padding-top: 5vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
/*   background-color: grey; */
  width: calc(100vw - 2 * var(--basket-distance));
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

main > section {
  margin: 2vh 0;
}

#description,
img {
  margin: 2vh 20px;
}

#description h1 {
  text-shadow: 2px 1px 2px black;
  font-size: 2.7rem;
  margin-bottom: 2vh;
}

#productList {
  overflow-x: auto;
}

#productList::-webkit-scrollbar {
  -webkit-appearance: none;
}

#productList::-webkit-scrollbar:horizontal {
  height: 15px;
}

#productList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgb(238, 238, 238); /* should match background, can't be transparent */
  background-color: rgba(149, 149, 149, 0.5);
}

#priceCalculation {
  margin: 20px 50px 5vh 0;
}

#priceCalculation > table {
  width: 100%;
  max-width: 950px;
  margin-right: 50px;
/*   background-color: blueviolet; */
  font-size: 1.4rem;
}

#priceCalculation tr:last-child {
/*   background-color: brown; */
  height: 8vh;
}
#priceCalculation td:first-child {
  padding-left: 20px;
}
#priceCalculation td:last-child {
  text-align: right;
  padding-right: 20px;
}

#buyButton {
  align-self: flex-end;
  margin-right: 70px;
  color: white;
  font-size: 2.7rem;
  padding: 10px;
  background-color: #000066;
  border-radius: 15px;
  font-weight: bolder;
  word-spacing: 0px;
  letter-spacing: -2px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  outline: none
}

#buyButton:hover {
  background-color: #3333ff;
}

footer {
  color: #fff;
  background-color: #666;
  width: 100vw;
  padding: 0 calc(var(--basket-distance) + 20px);
  border-top: 1px solid rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 5vh;
}

footer > p {
  padding: 20px 0;
}

/* ------------------------------ MEDIA QUERIES ------------------------------ */

@media (max-width: 750px) {
  :root {
    --basket-distance: 5vh;
  }
}

@media (min-width: 1340px) {
  footer {
    padding: 0 calc((100vw - 1000px) / 2 + 20px);
  }
}
