* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#itemList {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;
}

#itemList tr *:first-child {
  padding-left: 20px;
}

#itemList tr > * {
  padding: 10px 0;
}

/* ------------------ seperation table-header vs table-body ----------------- */

#itemList th:nth-child(-n + 4) {
  border-bottom: transparent;
  -webkit-box-shadow: inset 0px -2px 0px 0px #000;
  -moz-box-shadow: inset 0px -2px 0px 0px #000;
  box-shadow: inset 0px -2px 0px 0px #000;
  line-height: 25px;
}

#itemList tbody tr:first-child {
  border-top: 30px solid transparent;
}

#itemList tbody tr td:nth-child(-n + 4) {
  transition-duration: 0.1s;
}

#itemList tbody tr:focus-within td:nth-child(-n + 4),
#itemList tbody tr:hover td:nth-child(-n + 4) {
  background-color: #ddd;
}

/* -------------------------- formatting table head sections ------------------------- */

#itemList th:first-child {
  text-align: left;
  padding: 0 20px;
}
#itemList th:nth-child(2) {
  text-align: right;
  padding: 0 20px;
}
#itemList th:nth-child(3) {
  text-align: center;
  padding: 0 20px;
  width: 140px;
}
#itemList th:nth-child(4) {
  text-align: right;
  padding: 0 20px;
}

/* -------------------------- formatting table data sections ------------------------- */

.lineBreak {
  display: none;
}

#itemList td:first-child {
  min-width: 200px;
}

#itemList td span {
  display: inline;
  padding: 0 !important;
}

#itemList td:nth-child(2) {
  text-align: right;
  padding: 0 20px;
}
#itemList td:nth-child(3) {
  text-align: center;
  padding: 0 20px;
}
#itemList td:nth-child(4) {
  text-align: right;
  padding: 0 20px;
  width: 150px;
}

/* ------------------------------- quantifier ------------------------------- */

#quantityBox {
  padding: 0 10px;
  display: grid;
  width: 140px;
  max-width: 140px;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantityNumber {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.4rem;
  text-align: right;
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
}

.quantityChanger {
  font-size: 0.7rem;
  margin: 2px 8px;
  background-color: grey;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 2px;
}
.quantityChanger:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.quantityChanger:active {
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

/* ------------------------------ delete ----------------------------- */

#itemList th:last-child {
  width: 50px;
}
#itemList td:last-child {
  width: 50px;
}
#itemList td:last-child div {
  padding: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#itemList img {
  height: 30px;
  padding: 0 !important;
  margin: 0;
  filter: invert(30%) sepia(40%) saturate(4000%) hue-rotate(225deg)
    brightness(55%) contrast(100%);
  cursor: pointer;
  transition-duration: 0.2s;
}
#itemList img:hover {
  filter: invert(30%) sepia(50%) saturate(6000%) hue-rotate(225deg)
    brightness(120%) contrast(100%);
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 850px) {
  .lineBreak {
    display: initial;
  }
}

@media (min-width: 850px) and (max-width: 990px) {
  .lineBreak {
    display: none;
  }
}

@media (min-width: 990px) and (max-width: 1120px) {
  .lineBreak {
    display: initial;
  }
}
